<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survay Form</title>
</head>
<body>
    <h1>Survay Form</h1>
    <form action="/favoriteSurvey" method="post">
        <label for="name">Name:</label>
        <input name="name" type="text">
        <br>
        <label for="name">email:</label>
        <input name="email" type="text">
        <br>
        <label for="name">phone:</label>
        <input name="phone" type="number">
        <br>
        <label for="name">color:</label>
        <input name="color" type="text">
        <br>
        <label for="name">food:</label>
        <input name="food" type="text">
        <br>
        <label for="name">msg:</label>
        <input name="msg" type="text">
        <br>
        <button type="submit">Add</button>
    </form>
</body>
</html>